<div id="tab-help">
    <h4 class="help-section">Introduction</h4>
    <p>Welcome to an experimental interface to query Debian archive
    metadata. At the moment only two search modes are available. Using
    the first tab an assisted search will guide you to build a custom
    search by applying filters and enabling output options. On the other
    hand, this interface will let you construct your own SPARQL query (see
    later sections of this help).</p>

    <h4 class="help-section">What information is included?</h4>
    <p>At the moment it is only published partial information about some stable 
    distributions (from Hamm to Lenny). Every archive section is available
    for querying but some information about packages part of stable updates
    is not available. Also non-i386 binary builds are not inside the graph
    for the moment.</p>

    <h4 class="help-section">How does it work?</h4>
    <p>This web application will query a SPARQL endpoint serving as
    front-end of a Virtuoso triple store containing a RDFized
    version of Debian Archive metadata files (i.e. Sources and Packages
    files).
    The archive was transformed using a set of Python programs and some
    Bash scripts (also published). All resources were described using
    the Debian Archive Ontology and several well-known third party
    ontologies such as FOAF, Dublin Core, DOAP and so on. Search results are
    enhanced with external links to a linked data browser deployed
    using <a href="http://www4.wiwiss.fu-berlin.de/pubby/">Pubby</a>.</p>

    <h4 class="help-section">SPARQL Examples</h4>
    <p>These are a few examples of some SPARQL queries. Reading 
    <a href="http://www.w3.org/TR/rdf-sparql-query/">SPARQL
    W3C recommendation</a> and Debian Archive Ontology Spec is recommended.
    </p>

    <h5 class="help-subsection">
    URIs for unversioned source packages some time maintained by identity
    "nacho@debian.org"
    </h5>
    <div id="help-example1" class="querystring">
    <pre>
SELECT DISTINCT ?usource
WHERE
{
?source a deb:Source ;
        deb:maintainer ?maintainer .
?usource a deb:UnversionedSource  ;
         deb:version ?source .
?maintainer foaf:mbox "nacho@debian.org".
}
    </pre>
    </div>
    <div class="run-example-link">
    <a href="#" onclick="javascript:execute_example_query('#help-example1')">Run Example</a>
    </div>

    <h5  class="help-subsection">
    URIs for binary packages in libdevel section and tagged either with devel::library or role::debug-symbols
    </h5>
    <div id="help-example2" class="querystring">
    <pre>
SELECT ?binary
WHERE
{
?binary a deb:Binary .
?binary deb:section &lt;http://rdf.debian.net/section/libdevel&gt; .
{?binary tag:taggedWithTag &lt;http://rdf.debian.net/tag/devel/library&gt;} 
  UNION 
{?binary tag:taggedWithTag &lt;http://rdf.debian.net/tag/role/debug-symbols&gt;} .
}
    </pre>
    </div>
    <div class="run-example-link">
    <a href="#" onclick="javascript:execute_example_query('#help-example2')">Run Example</a>
    </div>

    <h5  class="help-subsection">
    File URIs and sizes for i386 binary builds associated to source package acl version 2.2.47-2 
    </h5>
    <div id="help-example3" class="querystring">
    <pre>
SELECT ?file ?size
WHERE
{
&lt;http://rdf.debian.net/source/acl/2.2.47-2&gt; deb:binary ?binary .
?binary deb:build ?build .
?build deb:architecture &lt;http://rdf.debian.net/arch/i386&gt; .
?file deb:productOf ?build .
?file nfo:fileSize ?size .
}
    </pre>
    </div>
    <div class="run-example-link">
    <a href="#" onclick="javascript:execute_example_query('#help-example3')">Run Example</a>
    </div>

    <h4 class="help-section">Who's behind this initiative?</h4>
    <p><a href="http://criptonita.com/~nacho/">Nacho Barrientos</a> 
    and <a href="http://berrueta.net">Diego Berrueta</a>, both members of
    <a href="http://idi.fundacionctic.org/steamy">STEAMY project</a>.</p>

    <p>Helping hands and bug reports in 
    <a href="mailto:nacho@debian.org">our mailboxes</a>
    are much appreciated.</p>
</div>
