<div id="tab-sparql">
    <div class="ui-widget">
        <div class="ui-state-highlight ui-corner-all" style="margin-top: 20px; padding: 0 .7em;"> 
            <p><span class="ui-icon ui-icon-info" style="float: left; margin-right: .3em;"></span>
                Looking for examples? Click help tab!</p>
        </div>
    </div>

    <form action="{% url debian.views.sparql %}" method="post">
        <div class="query-textarea">
        <label for="id_ns" class="field-label">Prefixes</label>
            <span class="field-comment">
                (you won't probably need to modify this)
            </span>
            {{ sparql.ns }}
        </div>
        <div class="query-textarea">
        <label for="id_query" class="field-label">Query</label>
            <span class="field-comment">
                (edit the default query as you wish)
            </span>
            {{ sparql.query }}
        </div>
        <div class="submit-button">
            <input id="sparql-submit" type="submit" class="fg-button ui-state-default ui-corner-all" value="Execute Query"/>
        </div>
    </form>
</div>
