.beta {
	margin-left: 2px;
	font-size: small;
	vertical-align:top;
}

.title {
	font-family: "Lucida Grande", Verdana, Arial, sans-serif;
	font-size: x-large;
}

                                                                                                                
.title a { text-transform: none; text-decoration: none; }
.subtitle {
	font-family: "Lucida Grande", Verdana, Arial, sans-serif;
	font-size: large;
}

/* From: http://www.filamentgroup.com/lab/styling_buttons_and_toolbars_with_the_jquery_ui_css_framework/ */
.fg-button { 
   margin-left: auto; 
   margin-bottom: 0; 
   margin-right: auto; 
   margin-top: 7px; 
   outline: 0; 
   padding: .4em 1em; 
   text-decoration:none !important; 
   cursor:pointer; 
   position: relative; 
   text-align: center; 
   zoom: 1; 
}
.submit-button {
	text-align: center;
}
#id_ns {
	margin: 1px;
	color: #767676;
	border-color: #cc0000;
	border-width: 1px;
	border-style: solid;
	height: 100px;
	width: 100%;
	font-size: small;
	font-family: monospace;
}
#id_query {
	margin: 1px;
	border-color: #cc0000;
	border-width: 1px;
	border-style: solid;
	height: 250px;
	width: 100%;
	font-size: medium;
	font-family: monospace;
}
.query-textarea {
	margin-bottom: 7px;
	margin-top: 7px;
}
#tab-sparql { width: 70%; }
.field-label {
	font-size: medium;
}
.footer {
	margin-top: 3px;
	text-align: right;
}
img {
	border: none;
}
.form-field {
	margin-top: 4px;
	padding-top: 3px;
}
.querystring {
	padding: 4px;
	border-width: 1px;
	border-color: #cc0000;
	border-style: dashed;
	margin-top: 3px;
	margin-right: 10%;
	margin-left: 10%;
	font-size: small;
	font-family: monospace;
}
.run-example-link { margin-left: 10%; font-size: small; font-weight: bold; font-family: "Lucida Grande", Verdana, Arial, sans-serif; }
.ui-widget-subheader { padding-bottom: 10px; padding-top: 10px; padding-left: 7px; border: 1px solid #e3a1a1; background: #cc0000 url(images/ui-bg_highlight-soft_15_cc0000_1x100.png) 50% 50% repeat-x; color: #ffffff; font-weight: bold; }
.field-comment { font-style: italic; font-size: small; color: #404040; }
h4.help-section { font-weight: bold; color: #004276; }
h5.help-subsection { color: #004276; }
.form-field ul { margin-top: -1px; list-style-type: none; }
.form-field li { margin-left: 0px; }
.form-field input[type="text"] { display: block; font-family: "Lucida Grande", Verdana, Arial, sans-serif; background-color: #ffeded; border-width: 1px; border-color: #cc0000; border-style: solid; }
.result-header { width: 70%; border-bottom-color: #cc0000; border-bottom-width: 1px; border-bottom-style: dashed; margin-left: 2em; }
.result-number { color: #cc0000; font-weight: bold; font-size: x-large; }
.result-feed { font-family: "Lucida Grande", Verdana, Arial, sans-serif; }
.result-feed-item-date { font-size: small; }
.result-feed ul { margin-left: 10px; list-style-type: none; }
.result-feed li { list-style-type: square; margin-left: 0px; }
.result { font-family: "Lucida Grande", Verdana, Arial, sans-serif; }
.result ul { list-style-type: none; }
.result li { margin-left: 0px; }
.result-label { font-style: italic; }
.result-search-again { margin-bottom: 10px; margin-top: 10px; text-align: right; }
.result-popcon { font-size: small; }
.result-more { font-size: small; }
.no-matches { margin-bottom: 10px; font-weight: bold; font-size: large; font-family: "Lucida Grande", Verdana, Arial, sans-serif; padding-bottom: 3px; padding-left: 7px; padding-top: 3px; margin-top: 10px; }
#sparql-table { font-family: "Lucida Grande", Verdana, Arial, sans-serif; font-size: x-small; }
#sparql-table th { text-align: center; text-transform: uppercase; font-size: small; color: white; background-color: #cc0000; }
#sparql-table tr { background-color: #ffe4e9; }
td.sparql-table-resno { text-align: right; font-weight: bold; }
#tab-search fieldset { margin-top: 10px; width: 80%; border-width: 1px; border-color: #cc0000; border-style: groove; }
#tab-search legend { font-family: "Lucida Grande", Verdana, Arial, sans-serif; font-size: medium; text-transform: uppercase; }
