{% extends "debian/base.html" %}

{% block title %}Debian Packages Search Wizard (step {{ step }}){% endblock %}

{% block content %}
    <div class="subheader">
        <h3>Search wizard (step {{ step }} of {{ step_count }})</h3>
    </div>

    <div id="wizard-form">
        <form action="." method="post">
          {% block form-content %}{% endblock %}
          <p><input type="submit" value="Next >>" /></p>
          <input type="hidden" name="{{ step_field }}" value="{{ step0 }}" />
          {{ previous_fields|safe }}
        </form>
    </div>
{% endblock %}
