{% extends "debian/base.html" %}

{% block javascript %}
    <script type="text/javascript" src="/debian/static/js/feeds.js"></script>
{% endblock %}

{% block content %}
    <div class="result-search-again">
    <a href="{% url debian.views.index %}" class="fg-button ui-state-default
    ui-corner-all">Start a new search
    <span class="ui-icon ui-icon-refresh" style="display: inline-block;"></span></a>
    </div>
    <div class="subheader">
        <div class="ui-widget-content ui-corner-all">
		    <h3 class="subtitle ui-widget-subheader ui-corner-all">
            News related to source package '{{source}}'</h3>
	    </div>
    </div>
    {% for feed in feeds %}
        <div id="feed-{{forloop.counter}}" class="result-feed">
            <div class="result-header">
            <span class="result-number">
            <span style="font-size:medium">feed</span>#{{forloop.counter}}</span>
            {% if feed.channel and feed.channel.title %}
                <span style="font-weight:bold">{{feed.channel.title}}</span>
            {% else %}
                {{feed.feeduri}}
            {% endif %}
            <a href="{{feed.feeduri}}">
            <span class="ui-icon ui-icon-signal-diag" style="display: inline-block;"></span></a>
            <a href="#" onclick="bury('{{source}}', '{{feed.feeduri}}', '{{forloop.counter}}')"> 
            <span class="ui-icon ui-icon-close bury" style="display: inline-block;"></span></a>
            </div>
            <ul>
            {% if feed.channel %}
                {% for item in feed.items %}
                <li>
                    {% if item.link %}
                        <a href="{{item.link}}">{{item.title|truncatewords:10}}</a>
                    {% else %}
                        {{item.title|truncatewords:10}}
                    {% endif %}
                    {% if item.date %}
                    <span class="ui-icon ui-icon-calendar" style="display: inline-block;"></span>
                    <span class="result-feed-item-date">{{item.date|date}}</span>
                    {% endif %}
                </li>
                {% empty %}
                <li>Empty feed</li>
                {% endfor %}
                </ul>
            {% else %}
                <p>It wasn't possible to fetch data from this feed, please visit it manually.</p>
            {% endif %}
        </div>
    {% empty %}
        <div class="no-matches">
            I'm sorry but I'm unable to find any upstream news for this package
        </div>
    {% endfor %}
{% endblock %}
