{% extends "debian/base.html" %}

{% block content %}
    <div class="result-search-again">
    <a href="{% url debian.views.index %}" class="fg-button ui-state-default
    ui-corner-all">Start a new search
    <span class="ui-icon ui-icon-refresh" style="display: inline-block;"></span></a>
    </div>
    <div class="subheader">
        <div class="ui-widget-content ui-corner-all">
		    <h3 class="subtitle ui-widget-subheader ui-corner-all">
            News related to source package {{source}} ({{version}})</h3>
	    </div>
    </div>
    {% for feed in feeds %}
    {% empty %}
        <div class="no-matches">
            I'm sorry but I'm unable to find any upstream news for this package
        </div>
    {% endfor %}
{% endblock %}
