{% extends "debian/base.html" %}

{% block javascript %}
    <script type="text/javascript" src="/debian/static/js/search.js"></script>
{% endblock %}

{% block content %}
<div id="tabs">
	<ul>
		<li><a href="#tab-search">Assisted Search</a></li>
		<li><a href="#tab-sparql">Write your own SPARQL Query</a></li>
		<li><a href="#tab-help">Help</a></li>
	</ul>
    
    {% include "debian/search/assisted-search.html" %}
    {% include "debian/search/sparql.html" %}
    {% include "debian/search/help.html" %}

</div>
{% endblock %}
