{% extends "debian/base.html" %}

{% block javascript %}
    <script type="text/javascript" src="/debian/static/js/search.js"></script>
{% endblock %}

{% block content %}
<div id="tabs">
	<ul>
		<li><a href="#tab-search">Assisted Search</a></li>
		<li><a href="#tab-sparql">SPARQL Query</a></li>
	</ul>
    <!-- Assisted search tab -->
    <div id="tab-search">
        <form action="{% url debian.views.results %}" method="post">
        <div id="accordion"> 
        <h3><a href="#">Basic search</a></h3>
        <div> <!-- Basic search -->
            <div class="form-field">
                <label for="id_filter" class="field-label">Keyword:</label>
                {{ search.filter }}
                {% for error in search.filter.errors %}
                    <div class="ui-widget">
				        <div class="ui-state-error ui-corner-all" style="padding: 0 .7em; margin-bottom: .3em;"> 
					    <p><span class="ui-icon ui-icon-alert" style="float: left; margin-right: .3em;"></span> 
					    <strong>Error:</strong> {{ error }}</p>
				        </div>
			        </div>
                {% endfor %}
            </div>
            <div class="form-field">
                <label for="id_distribution" class="field-label">Distribution:</label>
                {{ search.distribution }}
            </div>
            <div class="form-field">
                <label for="id_area" class="field-label">Area:</label>
                {{ search.area }}
            </div>
            <div class="form-field">
                <label for="id_searchtype" class="field-label">Search type:</label>
                {{ search.searchtype }}
            </div>
        </div>

        <h3><a href="#">Filters</a></h3>
        <div> <!-- Filters -->
            <div class="form-field">
                <label for="id_version" class="field-label">Version:</label>
                {{ search.version }}
            </div>
            <div class="form-field">
                <label for="id_maintainer" class="field-label">Maintainer:</label>
                {{ search.maintainer }}
            </div>
            <div class="form-field">
                <label for="id_comaintainer" class="field-label">Comaintainer:</label>
                {{ search.comaintainer }}
            </div>
            <div class="form-field">
                <label for="id_vcs" class="field-label">Maintained using:</label>
                {{ search.vcs }}
            </div>
            <div class="form-field">
                <label for="id_priority" class="field-label">Priority:</label>
                {{ search.priority }}
            </div>
            <div class="form-field">
                <label for="id_section" class="field-label">Section:</label>
                {{ search.section }}
                {% for error in search.section.errors %}
                    <div class="ui-widget">
				        <div class="ui-state-error ui-corner-all" style="padding: 0 .7em; margin-bottom: .3em;"> 
					    <p><span class="ui-icon ui-icon-alert" style="float: left; margin-right: .3em;"></span> 
					    <strong>Error:</strong> {{ error }}</p>
				        </div>
			        </div>
                {% endfor %}
            </div>
        </div>

        <h3><a href="#">Output options</a></h3>
        <div> <!-- Output options -->
            <div class="form-field">
                <label for="id_homepage" class="field-label">Show homepage (if applicable):</label>
                {{ search.homepage }}
            </div>
            <div class="form-field">
                <label for="id_showquery" class="field-label">Show generated query:</label>
                {{ search.showquery }}
            </div>
            <div class="form-field">
                <label for="id_sort" class="field-label">Sort method:</label>
                {{ search.sort }}
            </div>
        </div>

        </div> <!-- accordion -->
        <input type="submit" class="ui-state-default ui-corner-all" value="Search"/>
        </form>
    </div> <!-- assisted search -->

    <div id="tab-sparql">
        <form action="{% url debian.views.sparql %}" method="post">
            <div class="form-field">
                {{ sparql.query }}
            </div>
            <input type="submit" class="ui-state-default ui-corner-all" value="Execute"/>
        </form>
        <div class="note"><p>LIMIT and OFFSET clauses will be ignored<p></div>
    </div> <!-- tab SPARQL -->

</div> <!-- tabs -->
{% endblock %}
